@tailwind base;

@layer base {
  @font-face {
    font-family: "Poppins Thin";
    font-style: normal;
    src: url("../../public/assets/fonts/Poppins/Poppins-Thin.ttf");
  }

  @font-face {
    font-family: "Poppins ExtraLight";
    font-style: normal;
    src: url("../../public/assets/fonts/Poppins/Poppins-ExtraLight.ttf");
  }

  @font-face {
    font-family: "Poppins Light";
    font-style: normal;
    src: url("../../public/assets/fonts/Poppins/Poppins-Light.ttf");
  }

  @font-face {
    font-family: "Poppins Regular";
    font-style: normal;
    src: url("../../public/assets/fonts/Poppins/Poppins-Regular.ttf");
  }

  @font-face {
    font-family: "Poppins Medium";
    font-style: normal;
    src: url("../../public/assets/fonts/Poppins/Poppins-Medium.ttf");
  }

  @font-face {
    font-family: "Poppins SemiBold";
    font-style: normal;
    src: url("../../public/assets/fonts/Poppins/Poppins-SemiBold.ttf");
  }

  @font-face {
    font-family: "Poppins Bold";
    font-style: normal;
    src: url("../../public/assets/fonts/Poppins/Poppins-Bold.ttf");
  }

  @font-face {
    font-family: "Poppins ExtraBold";
    font-style: normal;
    src: url("../../public/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
  }

  @font-face {
    font-family: "Poppins Black";
    font-style: normal;
    src: url("../../public/assets/fonts/Poppins/Poppins-Black.ttf");
  }

  /* Futura Font */

  @font-face {
    font-family: "Futura ExtraBold";
    font-style: normal;
    src: url("../../public/assets/fonts/futura/futura-nd-extrabold.ttf");
  }
}
